@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.dl {
    @apply text-blue-600 visited:text-purple-600 underline-offset-2 underline dark:text-blue-300  dark:visited:text-purple-300
}

.el {
    @apply text-primary-700 visited:text-purple-700 underline-offset-2 underline dark:text-blue-400  dark:visited:text-purple-400
}

.text-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

 .active {
    @apply bg-blue-100  dark:bg-sky-800 hover:!bg-blue-200 bg-opacity-100 dark:hover:!bg-sky-700 text-black dark:text-white  border-blue-500 dark:border-blue-500
 }

 .opened-concept {
    @apply bg-blue-300  dark:bg-sky-800 hover:!bg-blue-400 bg-opacity-100 dark:hover:!bg-sky-700 text-black dark:text-white  border-blue-500 dark:border-blue-500
 }

